# Database Configuration
DB_HOST=localhost
DB_PORT=5432
DB_NAME=iqbox_demo
DB_USER=demo
DB_PASSWORD=

# JWT Secret
JWT_SECRET=
DEMO_PASSWORD=

# Server Configuration
PORT=3000
NODE_ENV=development

# File Upload
UPLOAD_DIR=./uploads/videos
MAX_FILE_SIZE=500000000

# Base URL for video links
BASE_URL=http://localhost:8088
API_BASE_URL=http://127.0.0.1:3000/api

SITE_BASE_URL=http://localhost:8088
PLAY_STORE_URL=
APP_STORE_URL=
